# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages of Data Science
- List popular libraries of Data Science
- List tools used by Data Scientists
- Exhibit Python's arithmetic abilities using JupyterNotebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Ggplot
3. Pandas

| Data Science Tools |
|-------------------|
| JupyterLab |
| RStudio |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Kyra Kennedy